<center>
    <h1> Listing all Categories </h1>
    <table>
    <tr>
        <th> Name </th>
        <th> Count of articles </th>
    </tr>
    <% @categories.each do |category| %>
    <tr>
        <td> <%=  link_to category.name, category_path(category) %> </td>
        <td> <%= pluralize(+category.articles.count,"article") %> </td>
    </tr>
    <% end %>
</table>
</center>